<h1 mat-dialog-title *ngIf="expense.id == undefined">  Add New Expenses</h1>
<h1 mat-dialog-title *ngIf="expense.id != undefined"> Edit Expenses</h1>
<div mat-dialog-content>
  <div class="content-wrapper" style="margin-left: 0px; background-color: #ffffff; min-height: 0px;">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <form role="form" #ExpenseFrom="ngForm">
            <div class="box-body">

              <div class="row">
                <div class="col-md-4 form-group">
                  <label for="name">Address <i style="color: red;">*</i></label>
                  <input [(ngModel)]="expense.name" #name="ngModel" type="text" class="form-control" name="name"
                    id="name" placeholder="Address" required>
                  <small *ngIf="name.invalid && (name.touched || name.dirty)" style="color: red">  You have to enter the address</small>
                </div>

                <div class="col-md-4 form-group">
                  <label for="cost">Cost <i style="color: red;">*</i></label>
                  <input [(ngModel)]="expense.cost" #cost="ngModel" type="number" class="form-control" name="cost"
                    id="cost" placeholder="Cost" min="0" required>
                  <small *ngIf="cost.invalid && (cost.touched || cost.dirty)" style="color: red">You have to enter the cost</small>
                </div>
                
                <div class="col-md-4 form-group">
                  <label for="actionDate">Date <i style="color: red;">*</i></label><br>
                  <mat-form-field appearance="legacy">
                    <mat-label> Choose Date</mat-label>
                    <input matInput [matDatepicker]="picker" style="height: auto;" [(ngModel)]="expense.actionDate" #actionDate="ngModel" name="actionDate"
                      class="form-control" id="actionDate" placeholder="Date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 form-group">
                  <label for="clinicId">Clinic <i style="color: red;">*</i></label>
                  <mat-form-field appearance="fill" class="mat-select-cls">
                    <mat-label>Choose</mat-label>
                    <mat-select [(ngModel)]="expense.clinicId" #clinicId="ngModel" name="clinicId" id="clinicId" [required]="true">
                        <input (keyup)="filterClinic($event.target.value)" class="form-control" placeholder=" Choose Clinic">
                        <mat-option *ngFor="let clinic of filteredClinicList" [value]="clinic.id">{{ clinic.name }}</mat-option>
                     </mat-select>
                  </mat-form-field><br>
                  <small *ngIf="clinicId.invalid && (clinicId.touched || clinicId.dirty)" style="color: red">You have to choose the clinic</small>
                </div>

                <div class="col-md-4 form-group">
                  <label for="type">Type <i style="color: red;">*</i></label>
                  <mat-form-field appearance="fill" class="mat-select-cls">
                    <mat-label>Choose</mat-label>
                    <mat-select [(ngModel)]="expense.type" [required]="true" #type="ngModel" name="type" id="type" panelClass="mat-select-cls">
                      <mat-option [value]="expenseTypeEnum.In">Income</mat-option>
                      <mat-option [value]="expenseTypeEnum.Out">Expenses</mat-option>
                    </mat-select>
                  </mat-form-field><br>
                  <small *ngIf="type.invalid && (type.touched || type.dirty)" style="color: red">You have to enter the expenses type</small>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="description">Description</label>
                  <textarea [(ngModel)]="expense.description" #description="ngModel" type="text" name="description"
                    class="form-control" id="description" placeholder="Description" rows="5"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions style="float: right;">
  <div class="box-footer">
    <button type="submit" class="btn btn-primary" (click)="submitExpense(ExpenseFrom)" [disabled]="ExpenseFrom.invalid">{{btnTitle}}</button>
    <button type="button" class="btn btn-secondary" style="margin-left: 10px;"
      (click)="dialogRef.close();">Cancel</button>
  </div>
</div>