################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DBContext/bin/Debug/netstandard2.0
/DBModels/bin/Debug/netstandard2.0
/DBModels/obj/Debug/netstandard2.0
/DentalClinicAPI/bin/Debug/netcoreapp3.1
/DentalClinicAPI/obj
/Enums/bin/Debug/netstandard2.0
/Enums/obj
/DBContext/obj
/DBModels/obj
/AppFrontEnd/.vs
/Infrastructure/bin/Debug/netstandard2.0
/Infrastructure/obj
/Request/bin/Debug/netstandard2.0
/Request/obj
/DTOs/obj
/DTOs/bin/Debug/netstandard2.0
/Module.MedicalHistory/bin/Debug/netstandard2.0
/Module.MedicalHistory/obj
/Module.MedicalHistoryAPI/bin/Debug/netcoreapp3.1
/Module.MedicalHistoryAPI/obj
/MedicalHistoryModule/obj
