################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DBContext/bin/Debug/netstandard2.0
/DBModels/bin/Debug/netstandard2.0
/DBModels/obj/Debug/netstandard2.0
/DentalClinicAPI/bin/Debug/netcoreapp3.1
/DentalClinicAPI/obj
/Enums/bin/Debug/netstandard2.0
/Enums/obj
/DBContext/obj
/DBModels/obj
/AppFrontEnd/.vs
/Infrastructure/bin/Debug/netstandard2.0
/Infrastructure/obj
/Request/bin/Debug/netstandard2.0
/Request/obj
/DTOs/obj
/DTOs/bin/Debug/netstandard2.0
/Module.MedicalHistory/bin/Debug/netstandard2.0
/Module.MedicalHistory/obj
/Module.MedicalHistoryAPI/bin/Debug/netcoreapp3.1
/Module.MedicalHistoryAPI/obj
/MedicalHistoryModule/obj
/DBContext/bin/Release/netstandard2.0
/DBModels/bin/Release/netstandard2.0
/DentalClinicAPI/bin/Release/netcoreapp3.1
/DentalClinicAPI/Properties/PublishProfiles
/Enums/bin/Release/netstandard2.0
/Request/bin/Release/netstandard2.0
/DentalClinicAPI/App_Data/DentalClinicDB.mdf
/DentalClinicAPI/App_Data/DentalClinicDB_log.ldf
/DentalClinic/DBContext/bin
/DentalClinic/DBContext/obj
/DentalClinic/DBModels/bin/Debug/netstandard2.0
/DentalClinic/DBModels/bin/Release/netstandard2.0
/DentalClinic/DBModels/obj
/DentalClinic/DentalClinicAPI/bin
/DentalClinic/DentalClinicAPI/obj
/DentalClinic/DTOs/bin
/DentalClinic/DTOs/obj
/DentalClinic/Enums/bin
/DentalClinic/Enums/obj
/DentalClinic/Infrastructure/bin
/DentalClinic/Infrastructure/obj
/DentalClinic/MedicalHistoryModule/obj
/DentalClinic/Module.MedicalHistory/bin
/DentalClinic/Module.MedicalHistory/obj
/DentalClinic/Module.MedicalHistoryAPI/bin/Debug/netcoreapp3.1
/DentalClinic/Module.MedicalHistoryAPI/obj
/DentalClinic/Request/bin
/DentalClinic/Request/obj
*.rar
/DentalClinic/Core/DBContext/bin/Debug/netstandard2.0
/DentalClinic/Core/DBContext/bin/Release/netstandard2.0
/DentalClinic/Core/DBContext/obj
/DentalClinic/Core/DBModels/bin
/DentalClinic/Core/DBModels/obj
/DentalClinic/Core/DTOs/bin
/DentalClinic/Core/DTOs/obj
/DentalClinic/Core/Enums/bin
/DentalClinic/Core/Enums/obj
/DentalClinic/Core/Infrastructure/bin
/DentalClinic/Core/Infrastructure/obj
/DentalClinic/Core/Request/bin
/DentalClinic/Core/Request/obj
/DentalClinic/Modules/MedicalHistoryModule/bin
/DentalClinic/Modules/MedicalHistoryModule/obj
.vs/"
/DentalClinic/.vs/DentalClinic/v16
/DentalClinic/.vs/slnx.sqlite
/DentalClinic/.vs
/DentalClinic/UserModule/bin/Debug/netstandard2.0
/DentalClinic/UserModule/obj
/DentalClinic_FrontEnd/.vs
/DentalClinic_FrontEnd/DentalClinic/.vscode/settings.json
/DentalClinic_FrontEnd/DentalClinic/.vscode
/DentalClinic_FrontEnd/workspace.code-workspace
/DentalClinic/Modules/UserModule/bin/Debug/netstandard2.0
/DentalClinic/Modules/UserModule/obj
bin
obj