<!-- <button type="button" appsidebartoggler="" class="d-lg-none navbar-toggler"><span
        class="navbar-toggler-icon"></span></button>
<a class="navbar-brand" router-link="/dashboard" href="/dashboard">
    <img class="navbar-brand-full"
        src="assets/img/brand/tooth.svg" width="89" height="25" alt="Logo" class="navbar-brand-full">
    <img class="navbar-brand-minimized"
        src="assets/img/brand/tooth.svg" width="30" height="30" alt="Logo" class="navbar-brand-minimized">

</a><button type="button" class="d-lg-block d-none navbar-toggler" breakpoint="lg"><span
        class="navbar-toggler-icon"></span></button> -->

<ng-template [ngIf]="mobileSidebarToggler != false"> <button class="navbar-toggler {{sidebarTogglerMobileClass}}"
        type="button" appSidebarToggler> <span class="navbar-toggler-icon"></span> </button></ng-template><a
    class="navbar-brand" [routerLink]="navbarBrandRouterLink">
    <ng-template [ngIf]="navbarBrandImg"> <img *ngIf="navbarBrand" [appHtmlAttr]="navbarBrand"
            [ngClass]="'navbar-brand'"> <img *ngIf="navbarBrandFull" [appHtmlAttr]="navbarBrandFull"
            [ngClass]="'navbar-brand-full'"> <img *ngIf="navbarBrandMinimized" [appHtmlAttr]="navbarBrandMinimized"
            [ngClass]="'navbar-brand-minimized'"> </ng-template>
    <ng-template [ngIf]="!navbarBrandImg">
        <div class="navbar-brand-full" [innerHTML]="navbarBrandText.text"></div>
        <div class="navbar-brand-minimized" [innerHTML]="navbarBrandText.icon"></div>
    </ng-template>
</a>
<ng-template [ngIf]="sidebarToggler != false"> <button class="navbar-toggler {{sidebarTogglerClass}}" type="button"
        [appSidebarToggler]="sidebarToggler"> <span class="navbar-toggler-icon"></span> </button></ng-template>
<ng-content></ng-content>
<ng-template [ngIf]="asideMenuToggler != false"> <button class="navbar-toggler {{asideTogglerClass}}" type="button"
        [appAsideMenuToggler]="asideMenuToggler"> <span class="navbar-toggler-icon"></span> </button></ng-template>
<ng-template [ngIf]="mobileAsideMenuToggler != false"> <button class="navbar-toggler {{asideTogglerMobileClass}}"
        type="button" appAsideMenuToggler> <span class="navbar-toggler-icon"></span> </button></ng-template>