<style>
  i.fa {
    cursor: default;
  }
  .hideArrow ::ng-deep .mat-select-arrow {
    /* display: none !important; */
    border: none;
  }
</style>
<div>
  <h1 *ngIf="appointment.id == undefined"> Add New Appointment </h1>
  <h1 *ngIf="appointment.id != undefined"> Edit Appointment </h1>
  <div class="content-wrapper" style="margin-left: 0px; min-height: 0px;">
    <div class="box box-primary">
      <form role="form" #AppointmentFrom="ngForm">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-accent-primary">
                <div class="card-header">
                  <h4>Patient's Information</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 form-group">
                      <label for="name">Name <i style="color: red;">*</i></label>
                      <mat-form-field appearance="fill" class="mat-select-cls hideArrow">
                        <mat-select [(ngModel)]="appointment.patient" #patientId="ngModel" name="patientId"
                          id="patientId" [required]="true">
                          <input (keyup)="patientNameSearchSubject.next($event.target.value)" class="form-control"
                            placeholder="Choose Patient">
                            <mat-option *ngIf="filteredPatientList.length == 0"></mat-option>
                            <mat-option *ngFor="let patient of filteredPatientList" [value]="patient">{{ patient.fullName }}
                            </mat-option>
                        </mat-select>
                      </mat-form-field><br>
                      <small *ngIf="patientId.invalid && (patientId.touched || patientId.dirty)" style="color: red">
                         You have to choose a patient</small>
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="phone"> Phone Number </label>
                      <mat-form-field appearance="fill" class="mat-select-cls hideArrow">
                        <mat-label>Choose</mat-label>
                        <mat-select [(ngModel)]="appointment.patient" #patientPhone="ngModel" name="patientPhone"
                          id="patientPhone">
                          <input (keyup)="patientPhoneSearchSubject.next($event.target.value)" class="form-control"
                            placeholder=" Choose Mobile Number">
                            <mat-option *ngIf="filteredPatientList.length == 0"></mat-option>
                            <mat-option *ngFor="let patient of filteredPatientList" [value]="patient">{{ patient.phone }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field><br>
                    </div>

                    <div class="col-md-4 form-group">
                      <button (click)="addNewPatient()" class="btn btn-primary" style="margin:10px"> Add new patient
                        </button>
                      <button (click)="editPatient(appointment.patient.id)" class="btn btn-warning"
                        [disabled]="appointment.patient.id == undefined" style="margin:10px">  Edit Patinet Information
                      </button>
                    </div>
                  </div>

                    <div class="row">
                      <div class="col-md-2 form-group">
                        <label for="age">Age : {{appointment.patient.age}}</label>
                      </div>
                      <div class="col-md-2 form-group">
                        <label for="gender">Gender :
                          <label
                            *ngIf="appointment.patient.id > 0 && appointment.patient.gender == genderEnum.Male">Male</label>
                          <label
                            *ngIf="appointment.patient.id > 0 && appointment.patient.gender == genderEnum.Female">Female</label>
                        </label>
                      </div>
                      <div class="col-md-7 form-group">
                        <label for="address">Address : {{appointment.patient.address}}</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <h5> Chronic Diseases :</h5>
                      </div>
                      <ul *ngIf="appointment.patient.medicalHistoryList != undefined && appointment.patient.medicalHistoryList.length > 0; else NoMedicalHistory"
                        class="list-inline">
                        <li *ngFor="let PMH of appointment.patient.medicalHistoryList" class="list-inline-item"
                          style="margin-right: 25px;">
                          <span><i class="fa fa-asterisk" aria-hidden="true"></i> {{ PMH.name }} </span>
                        </li>
                      </ul>
                      <ng-template #NoMedicalHistory>
                        <div class="col-md-12"><label>There are no Chronic Diseases </label></div>
                      </ng-template>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card card-accent-primary">
                <div class="card-header">
                  <h4> Appointment Information</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 form-group">
                      <label for="user">Doctor <i style="color: red;">*</i></label>
                      <mat-form-field appearance="fill" class="mat-select-cls">
                        <mat-label>Choose</mat-label>
                        <mat-select [(ngModel)]="appointment.user" #user="ngModel" name="user" id="user"
                          [required]="true">
                          <input (keyup)="filterUser($event.target.value)" class="form-control"
                            placeholder="Choose a Doctor">
                          <mat-option *ngFor="let user of filteredUserList" [value]="user">{{ user.fullName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field><br>
                      <small *ngIf="patientPhone.invalid && (patientPhone.touched || patientPhone.dirty)"
                        style="color: red"> You have to choose a Doctor</small>
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="clinic">Clinic <i style="color: red;">*</i></label>
                      <mat-form-field appearance="fill" class="mat-select-cls">
                        <mat-label>اختر</mat-label>
                        <mat-select [(ngModel)]="appointment.clinic" #clinic="ngModel" name="clinic" id="clinic"
                          [required]="true">
                          <input (keyup)="filterClinic($event.target.value)" class="form-control"
                            placeholder="Choose clinic ">
                          <mat-option *ngFor="let clinic of filteredClinicList" [value]="clinic">{{ clinic.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field><br>
                      <small *ngIf="clinic.invalid && (clinic.touched || clinic.dirty)" style="color: red">You have to choose a clinic</small>
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="date">Date <i style="color: red;">*</i></label>
                      <mat-form-field appearance="legacy">
                        <mat-label>Choose Date </mat-label>
                        <input matInput [matDatepicker]="picker" style="height: auto;" [(ngModel)]="appointment.date"
                          #date="ngModel" name="date" class="form-control" id="date" placeholder="Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 form-group">
                      <label for="category"> Appointment category <i style="color: red;">*</i></label>
                      <mat-form-field appearance="fill" class="mat-select-cls">
                        <mat-label>Choose</mat-label>
                        <mat-select [(ngModel)]="appointment.category" #category="ngModel"
                          (selectionChange)="updatePrices()" name="category" id="category" [required]="true">
                          <input (keyup)="filterCategory($event.target.value)" class="form-control"
                            placeholder="Choose Appointment category">
                          <mat-option *ngFor="let category of filteredCategoryList" [value]="category">{{ category.name
                            }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field><br>
                      <small *ngIf="category.invalid && (category.touched || category.dirty)" style="color: red">You have to choose Appointment category</small>
                    </div>

                    <div class="col-md-4 form-group" style="margin-top: 25px;">
                      <label for="price" style="float: right;">Price <i style="color: red;">*</i></label>
                      <input [(ngModel)]="appointment.category.price" #price="ngModel" type="number"
                        class="form-control" name="price" id="price" placeholder="Price" min="0" required
                        style="width: 60%;" (ngModelChange)="updatePrices()">
                      <small *ngIf="price.invalid && (price.touched || price.dirty)" style="color: red">You have to enter the price</small>
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="category"> category <i style="color: red;">*</i></label>
                      <mat-form-field appearance="fill" class="mat-select-cls">
                        <mat-label>Choose</mat-label>
                        <mat-select [(ngModel)]="appointment.state" #state="ngModel" name="state" id="state"
                          [required]="true">
                          <mat-option [value]="appointmentStateEnum.Pending"> Waiting list </mat-option>
                          <mat-option [value]="appointmentStateEnum.Current">Processing</mat-option>
                          <mat-option [value]="appointmentStateEnum.Finished">Finished</mat-option>
                          <mat-option [value]="appointmentStateEnum.Cancelled">Cancelled</mat-option>
                  </mat-select>
                      </mat-form-field><br>
                      <small *ngIf="category.invalid && (category.touched || category.dirty)" style="color: red">You have to choose Appointment category</small>
                    </div>
                  </div>

                  <h4>Add more</h4>
                  <div class="row">
                    <div class="col-md-4 form-group" *ngFor="let appointmentAddition of appointmentAdditionList">
                      <mat-checkbox (change)="selectAppointmentAddition(appointmentAddition.id, $event.checked)"
                        [checked]="isChecked(appointmentAddition.id)" style="margin-top: 0px;font-size: 15px;">{{
                        appointmentAddition.name }} ({{ appointmentAddition.price }})</mat-checkbox>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="toothNumber" class="col-md-4"> Teeth number <i style="color: red;">*</i></label>
                      <div class="col-md-8" *ngFor="let tooth of appointment.toothList; let i = index">
                        <input [(ngModel)]="tooth.toothNumber" #toothNumber="ngModel" type="number"
                          class="form-control col-md-4" name="{{'toothNumber'+i}}" id="{{'toothNumber'+i}}"
                          placeholder="Teeth number" min="0" required style="display: inline;">
                        <mat-radio-group aria-label="Choose Teeth number" [(ngModel)]="tooth.toothPosition"
                          name="{{'toothPosition'+i}}" class="col-md-8">
                          <mat-radio-button [value]="toothPositionEnum.Upper" checked="true">Upper</mat-radio-button>
                          <mat-radio-button [value]="toothPositionEnum.Lower">Lower</mat-radio-button>
                        </mat-radio-group>
                        <button class="btn btn-primary" (click)="addNewTooth()" style="border-radius: 50% !important;">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger" (click)="removeTooth(i)" style="border-radius: 50% !important;"
                          *ngIf="i > 0">
                          <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <br><small *ngIf="toothNumber.invalid && (toothNumber.touched || toothNumber.dirty)"
                          style="color: red">You have to choose Teeth number</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-accent-primary">
                <div class="card-header">
                  <h4>Photos</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <span *ngFor="let img of appointment.attachmentList; let i=index">
                        <img [src]="createImgPath(img.url)" alt="Prescriptions Copies " height="100" width="100"
                          (click)="viewImg(i)" style="cursor: pointer;">
                        <a class="remove-image" (click)="removeImg(i)" style="display: inline;">&#215;</a>
                      </span>
                      <app-file-uploader [uploadURL]="uploadURL" (onUploadFinished)="uploadFinished($event)">
                      </app-file-uploader>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-accent-primary">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="notes">Notes</label>
                      <textarea [(ngModel)]="appointment.notes" #notes="ngModel" type="text" name="notes"
                        class="form-control" id="notes" placeholder="Notes" rows="5"></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                      <label for="price">Price</label><br>
                      <table>
                        <tr>
                          <td><label for="totalPrice"> Total Price: </label></td>
                          <td> <input [(ngModel)]="appointment.totalPrice" #totalPrice="ngModel" type="number"
                              class="form-control" name="totalPrice" id="totalPrice" placeholder="Total Price" min="0">
                          </td>
                        </tr>
                        <tr>
                          <td><label for="discountPercentage">Discount Percentage: </label></td>
                          <td><input [(ngModel)]="appointment.discountPercentage" #discount="ngModel" type="number"
                              class="form-control" name="discount" id="discount" placeholder="Discount Percentage" min="0"></td>
                        </tr>
                        <tr>
                          <td><label for="finalPrice">Final Price: </label></td>
                          <td>{{ appointment.totalPrice - appointment.discountPercentage }}</td>
                        </tr>
                        <tr>
                          <td><label for="paidAmount">Paid Amount: </label></td>
                          <td><input [(ngModel)]="appointment.paidAmount" #paidAmount="ngModel" type="number"
                              class="form-control" name="paidAmount" id="paidAmount" placeholder="Discount Percentage" min="0"></td>
                        </tr>
                        <tr>
                          <td><label for="change"> Change: </label></td>
                          <td>{{ appointment.totalPrice - appointment.discountPercentage - appointment.paidAmount }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="box-footer col-md-12" style="float: right; height: 50px;">
                      <button type="submit" class="btn btn-primary" (click)="submitAppointment(AppointmentFrom)"
                        [disabled]="AppointmentFrom.invalid">Save</button>
                      <button type="button" class="btn btn-secondary" style="margin-left: 10px;"
                        (click)="cancel()">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>

<ng-template #imgViewer>
  <img [src]="imgViewerSrc" alt="Prescriptions Copies " height="400" width="400">
</ng-template>